# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text diff=python

# Documentation
*.md text diff=markdown
*.rst text

# Configs
*.yml text
*.yaml text
*.json text
*.toml text
*.ini text
*.cfg text

# Documentation
*.md text diff=markdown
*.rst text

# No modifications to binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary
